extends layout

block content
  div.container
    div(class="navbar navbar-default navbar-fixed-top")
        ul(class="nav navbar-nav")
          li
            a(href="/home") Home
          li
            a(href="/manage") Manage Poems
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/logout") Log Out
    div.row
      div.col-md-12
        h2= user.fullName
      div.col-md-4
        h3 
          span(class="label label-primary") Write something new!
        div.spacer
        form(method='post', action='/create')
          div.form-group
            label(for="title") Title:
            input(type='text' class='form-control' name='poemTitle' required)
          div.form-group
            label(for='tags') Tags:
            input(type='text' class='form-control' name='Tags')
          div.form-group
            label(for='poem') Poem:
            textarea(name='poemtext' class='form-control' required)
            div#addPoem
            button(type='submit' class="btn btn-default") SAVE
      div.col-md-4
        h3 
          span(class="label label-info") Poems in your library:
          div.spacer
          div#poemlist
            - for(i=0;i<poems.length;i++)
              a(href='poems/#{poems[i]._id}')
                = poems[i].title
                <br>
      div.col-md-4
        h3
          span(class="label label-default") News for your poems:
        div.spacer
        - each item in news
          p <strong>#{item.newauthor}</strong> wrote a poem "#{item.newtitle}" with a line from "#{item.origintitle}"
            a(href='/poems/#{item.newpoemID}' class='label label-info' style="margin-left:8px;") take a look