extends layout

block content
  div.container
    div.row
      h1 Linking in Process
    div.row
      h2(style="text-align:center;") Linking from #{linelink.originTitle} by #{linelink.originAuthor}...
    div.row
      h4 "#{linelink.content}" will be your #{position} line.
    div.row
      h4
        span(class="label label-primary") Now write something new!
      div.spacer
      form(method='post', action='/savelink')
        div.form-group
          label(for="title") Title:
          input(type='text', id='title', name='poemTitle' required)
        div.form-group
          label(for="tags") Tags:
          input(type='text', id='tags', name='Tags')
        div.form-group
          label(for="poem") Poem:
          textarea(name='poemtext' id="poem" rows="30", cols="30")
          input(type='hidden' name='line' value='#{linelink.content}')
          input(type='hidden' name='position' value='#{position}')
          input(type='hidden' name='ID' value='#{linelink._id}')
          input(type='hidden' name='newsID' value='#{news._id}')
          input(type='submit', class="btn btn-default" value='SAVE')