extends layout

block content

  h1 Linking in Process

  h2 Linking from #{link.originTitle} by #{link.originAuthor}
  h3 "#{link.content}" will be your #{position} line
  div.poemForm
  form(method='post', action='/savelink')
    div 
      span.label Title:
      input(type='text', class='txt', name='poemTitle')
    div
      span.label Tags:
      input(type='text', class='txt', name='Tags')
    div
      span.label Poem:
      textarea(name='poemtext' rows="30", cols="30")
      input(type='hidden' name='line' value='#{link.content}')
      input(type='hidden' name='position' value='#{position}')
      input(type='hidden' name='ID' value='#{link._id}')
    div#addPoem
       input(type='submit', value='SAVE')