extends layout

block content

  div.container
    div(class="navbar navbar-default navbar-fixed-top")
        ul(class="nav navbar-nav")
          li
            a(href="/home") HOME
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/logout") Log Out
    div.row
    div.col-md-8
      h2= poem.title
      span(class="label label-info")<strong>Written by: </strong>
        a(href="/authors/#{poem.authorUsr}")= poem.author

      div.spacer
      - var i;
      - var k = 0;
      - var u = 0;

      - for(i=0;i<poem.content.length;i++)
        - if(poem.linkPosition === 'first' && i === 0)
          - k += 1
          p.poem= link.content
            span(class="label label-info linkbud") L
              span(class="label label-info linkinfo") this line linked from 
                a(href="/poems/#{link.originID}") #{link.originTitle} by #{link.originAuthor}
        - if(poem.content[i].length === 0)
          br
        - if(poem.content[i].length > 0)
          p.poem= poem.content[i]
            - if((k+1)%5 === 0)
              span.badge(style="margin-left:8px;" id="lineCounter")= k+1
            - if(links.length > 0)
              - for(var l=0;l<links.length;l++)
                - if(links[l].originNum === u)
                  span(class="label label-info linkbud") L
                    span(class="label label-info linkinfo") 
                      | this line used in
                      a.sp(href="/poems/#{links[l].guestID}") 
                        | #{links[l].guestTitle} by #{links[l].guestAuthor} 
            - k += 1
            - u += 1
      - if(poem.linkPosition === 'last')
        p.poem= link.content
          - if((k+1)%5 === 0)
            span.badge(style="margin-left:8px;")= k+1
          span(class="label label-info linkbud") L
              span(class="label label-info linkinfo") this line linked from 
                a(href="/poems/#{link.originID}") #{link.originTitle} by #{link.originAuthor}
      div.spacer
      button(class="btn btn-primary btn-md" id="linkInfo") Show Links
      div.spacer
      
      div.spacer
      p
        span(class='label label-warning marg') Hint 
        | The 'show links' button will reveal 'L' boxes <br> for each line that is shared by another poem. <br> Click on an 'L' box to open up a link to the source <br> or destination of the line.  
    div.col-md-4      
      h2 
        span(class="label label-primary") Create a link
      form(method='post' action='/link')
        div.form-group
          label(for="line") Choose a line from this poem:
          select(name='lineselect' id="line")
            -for(i=0;i<u;i++)
              option= i+1
        p(class="label label-info pop") Where will this line be in your poem?
        div.spacer
        div.form-group
          label(for="position1") Opening line:
          input(type='radio' class='position' id="position1" name='position' value='first')
        div.form-group
          label(for="position2") Closing line:
          input(type='radio' class='position' id="position2" name='position' value='last')
        div.form-group
          input(type='hidden' name='ID' value='#{poem._id}')
          input(type='hidden' name='linkID' value='#{poem.linkID}')
          input(type='hidden' name='linkPosition' value='#{poem.linkPosition}')
        input(type='submit' class="btn btn-default" id='linksubmit' value='BEGIN')
      div.spacer
      p(class="label label-danger" id="warning") Warning! 
      div.spacer
      p.warn The line selector only counts original lines. <br> If this poem has a link at the beginning, <br> selector number 1 is actually poem line 2. <br> Click "show links" to see borrowed lines.

//  div.lnkheader
//    p View Links
//    div.lnkview
//      p The #{poem.link.position} line of this poem linked from:<br> #{link.hostPoem} by #{link.hostAuthor} 
  