extends layout

block content

  h1 Poetry Link
  div.navbar
    ul.navigation
      li#home
        a(href = '/') HOME 
  h2= poem.title
  div.poembody
    - for(i=0;i<lines.length;i++)
      - if((i+1)%5 === 0)
          div.counter= i+1
      p= lines[i].content

  p.author <strong>Written by: </strong>
    = poem.author
  h3 Create a link
  form(method='post' action='/link')
    span.label Choose a line:
    select(name='lineselect')
      -var body = poem.content
      -for(i=0;i<body.length;i++)
        option= i+1
    span.label Opening line:
    input(type='radio' class='position' name='position' value='first')
    span.label Closing line:
    input(type='radio' class='position' name='position' value='last')
    input(type='hidden' name='content' value='#{poem.content}')
    input(type='submit' class='linksubmit' value='BEGIN')

//  div.lnkheader
//    p View Links
//    div.lnkview
//      p The #{poem.link.position} line of this poem linked from:<br> #{link.hostPoem} by #{link.hostAuthor} 
  